.better-image-widget-container {
    display: inline-block;
    text-align: center;

    .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        &.buttons-bottom {
        }

        &.buttons-left {
            flex-direction: row-reverse;
            align-items: flex-start;

            .image-buttons {
                flex-direction: column;
            }

        }

        &.buttons-top {
            flex-direction: column-reverse;
        }

        &.buttons-right {
            flex-direction: row;
            align-items: flex-start;

            .image-buttons {
                flex-direction: column;
            }
        }

        &.start {
            align-items: flex-start;
        }

        &.center {
            align-items: center;
        }

        &.end {
            align-items: flex-end;
        }

        .image-buttons {
            display: flex;
            flex-direction: row;
            &.hidden {
                display: none;
            }

            .btn {
                margin: 2px;
                text-align: left;
            }
        }
    }

    img.thumb {
        border-radius: 4px;
        margin: 2px;
    }

    .input-file {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    img.upload-image {
        display: block;
        margin: 2px;
        border-radius: 4px;

        &.hidden {
            display: none;
        }
    }

    .dropzone {
        min-height: inherit;
        border-radius: 8px;
        border: 2px $primary dashed;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px;

        .dz-message {
            margin: 0;
            padding: 10px;

            .dz-message-inner {
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .dz-preview .dz-image {
            width: inherit;
            height: inherit;
        }
    }

    .crop-preview {
        overflow: hidden;
        margin: 2px;
        border-radius: 4px;

        &.hidden {
            display: none;
        }
    }

    .dropzone .dz-preview {
        .dz-image {
            border-radius: 4px;
        }
        .dz-error-message {
            background: theme-color("danger");

            &:after {
                border-bottom-color: theme-color("danger");
            }
        }

        .dz-error-mark {
            svg {
                filter: drop-shadow(0 2px 4px rgba(0,0,0,0.3));
            }
            path {
                fill: theme-color("danger");
                fill-opacity: 1;
            }
        }

        .dz-success-mark {
            svg {
                filter: drop-shadow(0 2px 4px rgba(0,0,0,0.3));
            }
            path {
                fill: lighten(theme-color("success"),10%);
                fill-opacity: 1;
            }
        }
    }

    .tooltip-inner.better-image-widget {
        max-width: 120px;
    }
}

#BetterImageCropDialogModal {
    .modal-dialog {
        max-width: calc(100% - 40px);
        height: calc(100% - 40px);
        margin: 20px 0 0 20px;
    }

    .modal-content {
        height: 100%;
    }

    .modal-body-crop {
        max-width: 100%;
        height: calc(100% - 120px);
        overflow: hidden;

        img {
            width:100%;
        }
    }

    .modal-header {
        min-height: 46px;
        padding: 8px 16px;
    }

    .modal-footer {
        min-height: 68px;
        justify-content: space-between;
        padding-bottom: 10px;

        button {
            font-size: 18px;
            margin-bottom: 3px;
        }

        div.cropper-button-group {
            display: inline-block;
            margin: 0;
        }
    }

    .pic-to-edit {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    #BetterImageCropDialogModal {
        .modal-dialog {
            max-width: calc(100% - 8px);
            height: calc(100% - 8px);
            margin: 4px 0 0 4px;
        }

        .modal-footer {
            .submit-group button {
                width: 100%;
            }
            button {
                padding: 6px;
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 410px) {
    #BetterImageCropDialogModal {
        .modal-footer {
            button {
                padding: 5px;
                font-size: 18px;
            }
        }
    }
    .better-image-widget-container {
        .image-buttons {
            span.label {
                display: none;
            }
        }
    }
}

@media (max-width: 374px) {
    #BetterImageCropDialogModal {
        .modal-footer {
            button {
                padding: 4px;
                font-size: 18px;
            }
        }
    }
}

@media (max-height: 480px) {
    #BetterImageCropDialogModal {
        .modal-dialog {
            max-width: calc(100% - 8px);
            height: calc(100% - 8px);
            margin: 4px 0 0 4px;
        }

        .modal-content {
            flex-direction: row;
        }

        .modal-body-crop {
            height: 100%;
        }

        .modal-header {
            display: none;
        }

        .modal-footer {
            padding: 4px;
            width: 100px;
            justify-content: space-between;
            padding-bottom: 10px;
            flex-direction: column;

            button {
                margin-bottom: 3px;
                padding: 6px 3px;
                width: calc(50% - 2px);
                font-size: 16px;

                &.btn-wide {
                    width: 100%;
                }
            }

            div.cropper-button-group {
                width: 100%;
            }

            .modal-footer-group {
                margin-left: 0;
            }
        }
    }
}
